<ion-view view-title="Scheduled Jobs">
  <ion-content>
	<button class="button button-block button-balanced" ng-click="reloadJobData()">
	  Reload Job Data From Server
	</button>
	
	<a class="button button-block button-balanced" href="#/app/addJob">
	  Add New Job
	</a>
  
	<div class="list card" collection-repeat="job in scheduledJobs">
		<div class="item item-icon-left">
			<i class="icon ion-wand"></i>
			<h2>{{job.jobName}}</h2>
			<p>{{job.cronSchedule}}</p>
		</div>
		<div class="item item-body">
			<p>
			  <a ng-click="deleteJob(job.id)" class="subdued">Delete</a>
			</p>
		</div>
	</div>

  </ion-content>
</ion-view>
